*, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: visible;
	position: relative;
}

div {
	left: 2rem;
	top: 2rem;
	color: #ffffff;
	font-size: 2rem;
}

#canvas-1 {
	position: absolute;
	background-color: black;
	height: 100vh; 
	width: 100vw;
}

.genearte {
	position: absolute;
	top:84vh;
	left: 78vw;
	background:linear-gradient(to bottom, #fcfcfc 5%, #ffffff 100%);
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Verdana;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
/* .genearte:active {
	position: absolute;
	top:10px;
	left: 100vw;
} */
#golden-angle{
	position: absolute;
	top: 84vh;
	right: 84vw;
	background:linear-gradient(to bottom, #d8711c 5%, #d8711c 100%);
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Verdana;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
